html {
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
}

body {
	background-color: #eeeeee;
}
.mainDiv {
	text-align: center;
}

h1 {
	margin-bottom: 5%;
}

button {
	margin: 10px;
	padding: 10px 20px;
	font-size: 16px;
}

.runs {
	font-size: 6rem;
	margin: 3% 0 5% 0;
	font-weight: 600;
}

.overs {
	margin: 5% 0 3% 0;
	font-size: 3rem;
}

.extraBtn {
	margin-bottom: 5%;
}
